h1
{
  text-align: center;
}

body{
  background-color: rgb(255, 255, 255); 
  /*background-image: url('logo_Python.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: top;*/
}


#app
{
  box-shadow: 0px 0px 30px black; 
  font-family:sans-serif,arial;
  color: white;
  text-align: center;
  border:3px black solid;
  border-radius:10px;
  width: 50%;
  margin:auto;
  margin-top: 1%;
  margin-bottom: 50%;
  background-color: rgb(185, 183, 183); 
}

form{
  border:3px black solid;
  border-radius:10px;
  width: 50%;
  margin:auto;
  text-align: left;
  padding-left: 10%;
}

#images
{
  border:3px black solid;
  border-radius:10px;
  width: 80%;
  margin:auto;
  /*
  display:flex;
  flex-wrap:nowrap;
  align-content:space-between;
  */
}

.media {
  display: flex;
  align-items: space-between;
  align-content:space-between;
}
.media .bouttons {
  flex: 1;
  padding: 10px;
}


.pictures:hover
{
  box-shadow: 6px 6px 6px black;
}

.flashes
{
  background-color: rgb(255, 0, 0);
}
