<!doctype html>
<html>
	<head>
		<meta charste="utf-8"/>
		<title>Projet Python - Paul Boisson - SIO</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
	</head>

	<body>
		<div id='app' class="wrapper fadeInDown">
			<header>
				<h1>Projet Python</h1>
				<p>Paul BOISSON</p>
			</header>
			<h2>Veuillez Sélectionner une image</h2>
			<p>
		<!--On part sur du jinja2 permettant d'utiliser du python dans une page html-->
		<!-- Ici, si il y a un flashed message, cad un retour de l'application, on peut l'afficher ici-->
		{% with messages = get_flashed_messages() %}
	  		{% if messages %}
				<ul class=flashes>
				{% for message in messages %}
		  			<li>{{ message }}</li>
				{% endfor %}
				</ul>
	  		{% endif %}
		{% endwith %}
		</p>


		<!-- un form peut être de forme get ou post-->
		<form method="post" action="/" enctype="multipart/form-data">

		<!--Le format multipart/form-data est utilisé quand au moins un des champ du form est un file-->
    		<dl>
				<p>
					<input type="file" name="file" autocomplete="off" required>
				</p>
    		</dl>

			<p>	
				<input type="submit" name="sub" value="Submit">
			</p>
		</form>

		<p></p>

		<div id = "Display_Folder">
			<p>
			<label>Images déjà chargées</label>
			</p>
      		<div id="images">
				<p>
					{%for file in files%}
						<a href="{{ url_for('display_image', filename=file)}}" target="_blank"><img src="{{url_for('display_image', filename=file)}}" class="pictures" id = file style="width: 200px" ></a>
						<a href="/removeFile/{{file}}" class="btn btn-outline-danger">Supprimer</a>

						<a href="/metadata/{{file}}" class="btn"target="_blank">Metadata</a>
					{% endfor %}
				</p>
      		</div>
		</div>

<!--Ajout d'un form en get sous la forme d'une liste pour afficher les images déjà chargée-->

		<p></p>

		</div>
	</body>
</html>